# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


.DS_Store
build
node_modules
*.log
package-lock.json
*.snap
__snapshots__/*

openmrs-contrib-reactcomponents.js
openmrs-contrib-reactcomponents.min.js

