/* *
 * Css for Basic Layout Component
*/
html, body {
    height: 100%;
    width: 100%;
}

.header {
    background: #F8971D;
    z-index: 999;
}

#dropdown {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #f78b08;
}

#root, #outer-container, .ag-theme-material, .container-fluid,
.basic-layout.left-rail, .basic-layout.left-rail > div, .list-group,
.div-container.summary-and-form, .div-container.container, .basic-layout.auth-route > div {
    height: 100%;
}

.div-container.container {
    padding: 0px;
    margin-left: 15px;
}

.basic-layout.row {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}

.row-container.row {
    padding-left: 10px;
}

.row-container {
    background: #ffa500b3;
}

.basic-layout.auth-route {
    padding-right: 0px;
    padding-left: 0px;
}

.summary-form {
  margin-right: 25%;
}

.header-panel.scroll-disabled {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2000;
}

.authenticated-route-container {
  overflow: scroll;
  height: calc(100vh - 300px);
}

.authenticated-route-container.full{
    height: 90vh !important;
}

.authenticated-route-container.no-scroll{
    overflow: unset;
}
