.card-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
}

.card-list:nth-child(even) {background: #e3e3e5}

.custom-loader {
  margin-left: 46%;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.filters {
  padding: 18px;
}

.gender-age {
  display: flex;
  padding-top: 4px;
}

.gender-age > .gender::after {
  content: ",\00a0"
}

.gender-age > .age::after {
  content: "\00a0"
}

.given-name {
  font-size: 20px;
  margin-right: 10px;
}

.given-name::after {
  content: ',';
}

.family-name {
  font-size: 20px;
}

.right-items {
  min-width: 100px;
}

.right-items > span {
  display: flex;
}