.card-list-container {
  overflow: scroll;
  height: calc(100vh - 300px);
}

.cardlist-search-container {
  padding: 0 10px;
}

.card-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
}

.card-list:nth-child(even) {background: #e3e3e5}
.card-list:last-child { border-bottom: 1px solid black}

.custom-loader {
  margin-left: 46%;
  margin-top: 20px;
}

.text-center {
  text-align: center;
  font-weight: lighter;
  margin-top: 100px;
}

.filters {
  padding: 18px;
}

.gender-age {
  display: flex;
  padding-top: 4px;
}

.gender-age > .gender::after {
  content: ",\00a0"
}

.gender-age > .age::after {
  content: "\00a0"
}

.given-name {
  font-size: 20px;
  margin-right: 10px;
}

.family-name {
  font-size: 20px;
}

.right-items {
  min-width: 100px;
}

.right-items > span {
  display: flex;
}

.patient-alert {
  padding-top: 2px;
}

.patient-alert > span {
  display: flex;
  color: red;
}

.refresh-button-container {
  display: flex;
  justify-content: space-between;
}

.refresh-button.glyphicon.glyphicon-refresh {
  font-size: 20px;
  border: 1px black solid;
  border-radius: 7px;
  padding: 3px 13px;
  font-weight: bold;
  color: darkblue;
  align-self: center;
}

/** FILTERS STYLING */
.name-filter-container {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 14px;
}

.name-filter-container > div {
  margin-bottom: 10px;
}

.name-filter {
  display: flex;
  width: 400px;
  position: relative;
  font-size: 20px;
}

.name-filter input {
  width: 73%;
  padding: 0px 0px 0px 40px;
  background-color: #FFF;
  border: 1px solid #DDD;
  color: #003f5e;
  display: block;
}
.name-filter .left-icon{
  position: absolute;
  left: 1%;
  line-height: 30px;
}
.name-filter .right-icon {
  position: absolute;
  left: 65%;
  line-height: 30px;
}

.name-filter-container .search-button {
  border: 1px solid black;
  margin-left: 20px
}

.server-search {
  display: flex;
  flex-direction: row;
}

.server-search > button {
  position: relative;
  top: 42px;
  border: 1px solid black;
  margin-left: 20px;
  font-size: 20px;
  height: 29px;
}
