.card-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
}

.card-list:nth-child(even) {background: #e3e3e5}
.card-list:last-child { border-bottom: 1px solid black}

.custom-loader {
  margin-left: 46%;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.filters {
  padding: 18px;
}

.gender-age {
  display: flex;
  padding-top: 4px;
}

.gender-age > .gender::after {
  content: ",\00a0"
}

.gender-age > .age::after {
  content: "\00a0"
}

.given-name {
  font-size: 20px;
  margin-right: 10px;
}

.given-name::after {
  content: ',';
}

.family-name {
  font-size: 20px;
}

.right-items {
  min-width: 100px;
}

.right-items > span {
  display: flex;
}

.patient-alert {
  padding-top: 2px;
}

.patient-alert > span {
  display: flex;
  color: red;
}

.refresh-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.refresh-button.glyphicon.glyphicon-refresh {
  font-size: 20px;
  border: 1px black solid;
  border-radius: 7px;
  padding: 3px 13px;
  font-weight: bold;
  color: darkblue;
}
