/* *
 * Css for Header Component
*/
.header {
    border-radius: 5px;
    font-size: medium;
}

#navbarIcon {
    vertical-align: middle;
    color: white;
}

#navItemIcon {
    margin-right: 7px;
}

.container {
    padding-left: 15px;
    padding-right: 30px;
    width: auto;
}

.location-dropdown-icon{
    position: relative;
    right: 10px;
    top: 3px;
}

.logo {
    max-height: 48px;
}

li.dropdown {
    list-style: none;
}

.header-logo {
    display: none;
}

.change-location a {
    outline: none;
}

.navbar-nav li a {
    line-height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.header-alt-row .row {
    margin: 0 !important;
}

.hambuger-menu a > svg {
    display: none;
}

.hambuger-menu > .dropdown {
    margin-top: 5px;
    margin-left: 10px;
}

.hambuger-menu > .dropdown > a {
    background: #F8971D !important;
}

.sliding-menu {
    height: 100%;
    width: 100vw;
}

.menu-bar {
    display: inline-block;
}

.menu-bar .sliding-menu::-webkit-scrollbar {
    display: none;
}

.sliding-menu .row {
    background: #F9F9F9;
    width:100%;
    float: right;
    height: 100%;
}

.sliding-menu .row .nav.nav-tabs {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.sliding-menu .row .nav.nav-tabs > li > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
    right: 0;
    left: 0;
    z-index: 100;
}

.patient-header {
    margin-top: 0px !important; 
}

.navbar-toggle {
    padding: 5px 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #e7e7e7;
    border-bottom: 3px solid #F8971D;
}

/*@media queries for nav items posiitioning nav items*/

@media only screen and (min-width: 460px) and (max-width: 589px) {
    .navbar-menu.portrait {
        left: 50%;
    }
    .navbar-menu.portrait.mid {
        left: 40%;
    }
    .navbar-menu.portrait.semi {
        left: 30%;
    }
    .navbar-menu.portrait.long{
        left: 22%;
    }
    .navbar-menu.portrait .dropdown-menu {
        left: -40px !important;
        min-width: 0px !important;
    }
}

@media only screen and (min-width: 490px) and (max-width: 519px) {
    .navbar-menu.portrait {
        left: 54%;
    }
    .navbar-menu.portrait.mid {
        left: 45%;
    }
    .navbar-menu.portrait.semi {
        left: 35%;
    }
    .navbar-menu.portrait.long{
        left: 28%;
    }
    .navbar-menu.portrait .dropdown-menu {
        left: -40px !important;
        min-width: 0px !important;
    }
}

@media only screen and (min-width: 520px) and (max-width: 559px) {
    .navbar-menu.portrait {
        left: 56%;
    }
    .navbar-menu.portrait.mid {
        left: 48%;
    }
    .navbar-menu.portrait.semi {
        left: 37%;
    }
    .navbar-menu.portrait.long{
        left: 33%;
    }
    .navbar-menu.portrait .dropdown-menu {
        left: -40px !important;
        min-width: 0px !important;
    }
}

@media only screen and (min-width: 560px) and (max-width: 569px) {
    .navbar-menu.portrait {
        left: 58%;
    }
    .navbar-menu.portrait.mid {
        left: 50%;
    }
    .navbar-menu.portrait.semi {
        left: 40%;
    }
    .navbar-menu.portrait.long {
        left: 35%;
    }
    .navbar-menu.portrait .dropdown-menu {
        left: -40px !important;
        min-width: 0px !important;
    }
}

@media only screen and (min-width: 570px) and (max-width: 579px) {
    .navbar-menu.portrait {
        left: 57%;
    }
    .navbar-menu.portrait.long{
        left: 39%;
    }
    .navbar-menu.portrait.mid {
        left: 54%;
    }
    .navbar-menu.portrait.semi {
        left: 43%;
    }
    .navbar-menu.portrait .dropdown-menu {
        left: -40px !important;
        min-width: 0px !important;
    }
}

@media only screen and (min-width: 580px) and (max-width: 600px) {
    .navbar-menu.portrait {
        left: 60%;
    }
    .navbar-menu.portrait.long{
        left: 40%;
    }
    .navbar-menu.portrait.semi {
        left: 45%;
    }
    .navbar-menu.portrait.mid {
        left: 54%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 620px) {
    .navbar-menu.portrait {
        left: 60%;
    }
    .navbar-menu.portrait.long{
        left: 40%;
    }
    .navbar-menu.portrait.semi {
        left: 46%;
    }
    .navbar-menu.portrait.mid {
        left: 56%;
    }
}

@media only screen and (min-width: 621px) and (max-width: 640px) {
    .navbar-menu.portrait {
        left: 60%;
    }
    .navbar-menu.portrait.long{
        left: 40%;
    }
    .navbar-menu.portrait.semi {
        left: 46%;
    }
    .navbar-menu.portrait.mid {
        left: 56%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 660px) {
    .navbar-menu.portrait {
        left: 60%;
    }
    .navbar-menu.portrait.long{
        left: 45%;
    }
    .navbar-menu.portrait.semi {
        left: 50%;
    }
    .navbar-menu.portrait.mid {
        left: 56%;
    }
}

@media only screen and (min-width: 661px) and (max-width: 700px) {
    .navbar-menu.portrait {
        left: 60%;
    }
    .navbar-menu.portrait.long{
        left: 45%;
    }
    .navbar-menu.portrait.semi {
        left: 50%;
    }
    .navbar-menu.portrait.mid {
        left: 60%;
    }
}



@media only screen and (min-width: 701px) and (max-width: 800px) {
    .navbar-menu.portrait {
        left: 70%;
    }
    .navbar-menu.portrait.long{
        left: 54%;
    }
    .navbar-menu.portrait.semi {
        left: 56%;
    }
    .navbar-menu.portrait.mid {
        left: 65%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 939px) {
    .nav > li > a > img {
        position: absolute;
        top: -20px;
    }

    .current-user-dropdown,
    .header-logo.full-wdith,
    .full-width.logo,
    .full-width.user-display,
    .navbar-menu.full-wdith
    {
        display: none;
    }



    .navbar-menu.portrait {
        display: inline-flex;
        position: relative;
    }

    .navbar-menu.portrait .dropdown-menu {
        left: -30px;
        min-width: 0px;
    }

    .header-logo.portrait {
        max-height: 48px;
        display: unset;
        margin-top: 4px;
    }
}

@media only screen and (min-width: 939px) {
    .portrait.logo,
    .portrait.user-display,
    .navbar-menu.portrait
    {
        display: none;
    }
}