.foreground {
    postion: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.loginLogo {
    max-height: 100px;
    padding: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}
