/* *
 * Css for PatientHeader Component
*/

.patient-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: auto;
  background: #F9F9F9;
  z-index: 0;
  border-bottom: 2px solid #EEE;
  margin: 10px;
  padding: 1px 2px;
  min-height: 40px;
}

.demographics {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.demographics h2 span {
  display: inline-block;
}

.patient-header .demographics .gender-age {
  font-size: 0.6em;
  margin-top: 10px;
}

.identifiers {
  max-width: 520px;
  text-align: center;
  margin-top: 25px;
  display: flex;
}

.identifiers em {
  margin-right: 15px;
  margin-top: 6px;
  font-size: 1.2em;
  white-space: nowrap;
}

.identifiers > em::after {
  content: ':'
}

.identifiers-number {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: start;
  white-space: nowrap;
}

.identifiers span {
  background: #666666;
  color: white;
  letter-spacing: 1px;
  margin: 2px;
  display: inline-block;
  padding: 6px 8px;
  font-size: 0.9em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 5px;
}
