/* *
 * Css for PatientHeader Component
*/

.patient-header {
  position: relative;
  overflow: auto;
  background: #F9F9F9;
  z-index: 0;
  border-bottom: 2px solid #EEE;
  margin: 10px;
  padding: 1px 2px;
  min-height: 40px;
}

.demographics {
  display: inline-block;
  position: relative;
  float: left;
  vertical-align: top;
}

.demographics h2 span {
  display: inline-block;
}

.demographics h2 span em {
  font-size: 0.4em;
  color: #888;
  border-top: 1px solid #DDD;
  display: block;
}

.patient-header .demographics .gender-age {
  font-size: 0.6em;
  vertical-align: top;
  margin-top: 10px;
}

.identifiers {
  max-width: 520px;
  display: inline-block;
  float: right;
  text-align: center;
  margin-left: 20px;
  margin-top: 28px;
}

identifiers em {
  max-width: 170px;
  min-width: 120px;
  display: inline-block;
  color: #888;
  font-style: normal;
  font-size: 0.9em;
  border-bottom: 1px solid #DDD;
}

.identifiers span {
  background: #666666;
  color: white;
  letter-spacing: 1px;
  margin: 2px;
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.8em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
