
.datepicker-view {
    display: inline-block;
    margin-top: 10px;
}

.field-input-view {
    display: inline-block;
    margin-top: 10px;
}

.button-group-view {
    display: inline-block;
    margin-top: 8px;
}

.dropdown-view {
    display: inline-block;
    margin-top: 8px;
}

.div-error {
    width: 190px;
}

.field-error {
    color: red;
    font-weight: bold;
}

.field-warning {
    color: orange;
}
